<table class="table table-hover">
<thead>
	<th>Link</th>
	<th>Problems</th>
	<th>Points</th>
</thead>
<% @bnota.each do |problem| %>
	<% if problem.solved? %>
		<tr class="success">
	<% else %>
		<tr>
	<% end %>
		<td><%= link_to problem.id, problem.getUrl %></td>
		<td><%= problem.name %></td>
		<td><%= problem.point %></td>
	</tr>
<% end %>
</table>