<!DOCTYPE html>
<html>
<head>
  <title>Cfusertool</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <!--<link href="/assets/bootstrap.min.css?body=1" media="all" rel="stylesheet" type="text/css" /> -->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
